:root {
   --global-bg: #151f2c;
   --button-bg: #384a72;
   --button-bg-hover: #4e6597;
   --button-bg-pressed: #384a7279;
   --button-bg-pressed-hover: #384a72;

   --button-label-bg: #1e324b;
   --button-text: #9fb3ca;
   --button-text-lighter: #cde4ff;
   --button-corners: 4px;

   --rule-none: rgba(255, 255, 128, 0.333);
   --rule-exclude: rgba(255, 128, 128, 0.333);
   --rule-include: rgba(96, 223, 96, 0.333);

   --rule-none-idle: rgba(255, 255, 128, 0.333);
   --rule-exclude-idle: rgba(255, 128, 128, 0.333);
   --rule-include-idle: rgba(96, 223, 96, 0.333);

   --facetag-north: rgba(255, 255, 128, 0.333);
   --facetag-south: rgba(128, 128, 255, 0.333);
   --facetag-west: rgba(128, 255, 255, 0.333);
   --facetag-east: rgba(255, 128, 128, 0.333);
   --facetag-down: rgba(255, 128, 255, 0.333);
   --facetag-up: rgba(96, 223, 96, 0.333);

   --padding-1: 1vh;
   --padding-2: 2vh;
   --padding-3: 3vh;
   --padding-4: 4vh;

   --small-padding: 5px;

   --button-height: 4vh;
   --header-height: 7.5vh;

   --controls-width: 30vw;
   --half-button-width: 50%;
}

html, body {
   margin: 0;
   height: 100%;
}

@font-face {
   font-family: "AzaFont";
   src: url("/Aza_font.woff");
}

h1 {
   display: flex;
   margin: 0;
   /* font-family:  AzaFont; */
   justify-content: space-between;
   align-items: center;
   padding-left: var(--padding-2);
   height: var(--header-height);
   background-color: var(--button-label-bg);

   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

h1 > a {
   margin: 0;
   text-decoration: none;
   color: var(--button-text);
   background-color: var(--button-bg);
   border: var(--button-bg-hover) solid var(--button-corners);
   height: 100%;
   align-content: center;
   padding: 0 var(--padding-2);
   box-sizing: border-box;
}

h1 > a:hover {
   background-color: var(--button-bg-hover);
}

main {
   display: flex;
   flex-direction: row;
   height: calc(100% - var(--header-height));
}

#viewport {
   display: inline-block;
   width: calc(100vw - var(--controls-width));
   height: 100%;
}

#controls {
   width: var(--controls-width);
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--global-bg);
}

#control-fields {
   display: flex;
   flex-direction: column;
   padding: var(--padding-1) var(--padding-1) 0px var(--padding-1);
}

#control-fields > input {
   margin-bottom: var(--padding-1);
}

.json-field {
   background-color: var(--button-bg);
   display: flex;
   align-items: center;
   flex-direction: row;
   text-overflow: clip;
   overflow: hidden;
}

.json-input {
   height: 100%;
   flex:1;
   border-right: var(--global-bg) solid var(--small-padding);
   
   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

.json-input::file-selector-button {
   height: 100%;
   width: 25%;
   border-radius: 0;
   border: none;
   cursor: pointer;
   padding: var(--padding-1);
   background-color: var(--button-bg);
   margin-right: var(--padding-1);
   border-right: var(--global-bg) solid var(--small-padding);
   text-overflow: clip;
   overflow: hidden;
   
   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

.json-reload-button
{
   width: var(--button-height);
   height: 100%;
   border-radius: 0;
   border: none;
   background-color: var(--button-bg);
   cursor: pointer;
   padding: 0;

   color: var(--button-text);
}

.field {
   height: var(--button-height);
   background-color: var(--button-label-bg);
   margin-bottom: var(--small-padding);
   border-radius: var(--button-corners);

   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

.field:last-child {
   margin-bottom: 0;
}

.select-field {  
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}

.select-field-input {
   height: 100%;
   width: calc(var(--half-button-width) + var(--small-padding));
   border-radius: 0;
   border: none;
   cursor: pointer;  
   align-content: center;  
   border-left: var(--global-bg) solid var(--small-padding);
   background-color: var(--button-bg);
   text-overflow: clip;
   overflow: hidden;
   border-radius: 0px var(--button-corners) var(--button-corners) 0px;
   padding: 0 var(--padding-1);

   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

.select-field-title {  
   flex-grow: 1;
   padding-left: var(--padding-1);
   text-overflow: clip;
   overflow: hidden;
   background-color: var(--button-label-bg);
   height: 100%;
   align-content: center;
}

.field-container > summary:hover,
.json-reload-button:hover,
.select-field-input:hover,
.number-field > div > button:hover ,
.json-input::file-selector-button:hover,
.number-field > div > input[type="number"]:hover,
.checkbox-field > input[type="checkbox"]:hover ~ .checkbox-faker
{
   background-color: var(--button-bg-hover);
}

.field-container > summary:active,
.json-reload-button:active,
.select-field-input:active,
.number-field > div > button:active,
.json-input::file-selector-button:active,
.checkbox-field > input[type="checkbox"]:checked ~ .checkbox-faker,
.checkbox-field > input[type="checkbox"]:active ~ .checkbox-faker 
{
   background-color: var(--button-bg-pressed);
}

.json-reload-button:active:hover,
.select-field-input:active:hover,
.number-field > div > button:active:hover
.json-input::file-selector-button:active:hover,
.checkbox-field > input[type="checkbox"]:checked:hover ~ .checkbox-faker 
{
   background-color: var(--button-bg-pressed-hover);
}

#json-display {
   height: 100%;
   overflow-y: scroll;
   margin: var(--padding-1);
   padding: var(--padding-1);
   white-space: pre;
   background-color: var(--button-label-bg);

   font-family: "Noto Sans Mono", monospace;
   font-optical-sizing: auto;
   font-size: small;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
     "wdth" 62.5;
   
   color: var(--button-text);
}

#json-display-title {
   margin: 0;
   margin-top: var(--padding-2);
   padding-left: var(--padding-1);
   padding-right: var(--padding-1);

   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

.checkbox-field {
   display: block;
   position: relative;
   cursor: pointer;
   overflow-x: hidden;
}

.checkbox-field > input[type="checkbox"] {
   position: absolute;
   cursor: pointer;
   opacity: 0;
   height: 100%;
   width: 100%;
   margin: 0;
}

.checkbox-faker {
   display: block;
   height: 100%;
   width: 100%;
   background-color: var(--button-label-bg);
   align-content: center;
   text-overflow: clip;
   overflow: hidden;
}

.number-field {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}

.number-field > div {
   display: flex;
   justify-content: stretch;
   height: 100%;
   width: var(--half-button-width);
   border-left: var(--global-bg) solid var(--small-padding);
}

.number-field > label {
   flex-grow: 1;
   padding-left: var(--padding-1);
   text-overflow: clip;
   overflow: hidden;
   background-color: var(--button-label-bg);
   height: 100%;
   align-content: center;
}

.number-field > div > button {
   min-width: var(--button-height);
   border-radius: 0;
   border: none;
   cursor: pointer;
   background-color: var(--button-bg);
   border-left: var(--global-bg) solid 1px;
   padding: 0;
   
   color: var(--button-text);
}

.number-field > div > button:first-child {
   border-left: none;
}

.number-field > div > input[type="number"] {
   padding: var(--padding-1);
   border-radius: 0;
   width: 100%;
   border: none;
   cursor: pointer;
   border-left: var(--global-bg) solid 1px;
   background-color: var(--button-bg);
   -moz-appearance: textfield;

   color: var(--button-text);
   font-family: 'Lexend', sans-serif;
   font-weight: 700;
}

.number-field > div > input[type="number"]:focus-visible {
   outline: none;
   background-color: var(--button-bg-pressed);
}

.number-field > div > input[type=number]::-webkit-inner-spin-button,
.number-field > div > input[type=number]::-webkit-outer-spin-button
{
   -webkit-appearance: none;
   margin: 0;
}

.pattern-str {
   background-color: var(--button-label-bg);
   border: var(--button-bg) solid 2px;
   margin-bottom: var(--small-padding) !important;
   font-style: normal;
   cursor: pointer;
   border-radius: var(--button-corners);
}

.pattern-str:hover {
   background-color: var(--button-bg-pressed-hover);
   border: var(--button-bg-pressed-hover) solid 2px;
}

.pattern-str:last-child {
   margin-bottom: 0;
}

.pattern-str.active {
   background-color: var(--button-bg-pressed);
   border: var(--button-bg-pressed) solid 2px;
}

.pattern-str.active:hover {
   background-color: var(--button-bg-pressed-hover);
   border: var(--button-bg-pressed-hover) solid 2px;
}

[class*="rule-"] {
   margin-bottom: var(--small-padding) !important;
   font-style: normal;
   color: var(--button-text);
   border-radius: var(--button-corners);
}

.rule-str {
   background: linear-gradient(90deg, var(--rule-none-idle) 0%, #0000 100%);
   color: var(--button-text-lighter);
}

.rule-include-str {
   background: linear-gradient(90deg, var(--rule-include-idle) 0%, #0000 100%);
   color: var(--button-text-lighter);
}

.rule-exclude-str {
   background: linear-gradient(90deg, var(--rule-exclude-idle) 0%, #0000 100%);
   color: var(--button-text-lighter);
}

.pattern-str.active > .rule-str {
   background-color: var(--rule-none);
}

.pattern-str.active > .rule-include-str {
   background-color: var(--rule-include);
}

.pattern-str.active > .rule-exclude-str {
   background-color: var(--rule-exclude);
}

.pattern-str.active:hover > .rule-str {
   background-color: var(--rule-none-idle);
}

.pattern-str.active:hover > .rule-include-str {
   background-color: var(--rule-include-idle);
}

.pattern-str.active:hover > .rule-exclude-str {
   background-color: var(--rule-exclude-idle);
}

[class*="face-tag"] {
   display: block;
   font-style: normal;
   margin-bottom: var(--small-padding) !important;
   border-radius: var(--button-corners);
}

[class*="face-tag"]:last-of-type {
   margin-bottom: 0;
}

.face-tag-north {
   background: linear-gradient(90deg, var(--facetag-north) 0%, #0000 100%);
   color: var(--button-text-lighter);
}
.face-tag-south {
   background: linear-gradient(90deg, var(--facetag-south) 0%, #0000 100%);
   color: var(--button-text-lighter);
}
.face-tag-west {
   background: linear-gradient(90deg, var(--facetag-west) 0%, #0000 100%);
   color: var(--button-text-lighter);
}
.face-tag-east {
   background: linear-gradient(90deg, var(--facetag-east) 0%, #0000 100%);
   color: var(--button-text-lighter);
}
.face-tag-down {
   background: linear-gradient(90deg, var(--facetag-down) 0%, #0000 100%);
   color: var(--button-text-lighter);
}
.face-tag-up {
   background: linear-gradient(90deg, var(--facetag-up) 0%, #0000 100%);
   color: var(--button-text-lighter);
}

.field-container > details ~ div {
   background-color: var(--global-bg);
   padding-top: 0;
   padding-left: var(--small-padding);
   padding-right: var(--small-padding);
   padding-bottom: 0;
   transition: max-height 125ms ease-in-out, padding-top 125ms ease-in-out, padding-bottom 125ms ease-in-out;
   max-height: 0;
   overflow: hidden;
   border: var(--button-label-bg) var(--small-padding) solid;
   border-bottom: none;
   border-top: none;
   border-radius: 0px 0px var(--button-corners) var(--button-corners);
}

.field-container > details[open=""] ~ div {
   padding-top: var(--small-padding);
   padding-bottom: var(--small-padding);
   max-height: calc(calc(var(--button-height) * 4) + calc(var(--padding-1) * 4));
   border-bottom: var(--button-label-bg) var(--small-padding) solid;
}

.field-container > details > summary {
   align-content: center;
   display: block;
   cursor: pointer;
   margin-bottom: 0;
   text-overflow: clip;
   overflow: hidden;
}

.field-container > details[open=""] > summary {  
   border-radius: var(--button-corners) var(--button-corners) 0px 0px;
}

.field .icon {
   width: var(--button-height);
   height: var(--button-height);
   font-style: normal;
   font-size: larger;
   align-items: center;
   --fa-display: inline-flex;
   justify-content: center;
   margin-right: var(--padding-1);
}

.test-formatting {
   display: block;
   margin: 0;
   font-style: normal;
   background-color: var(--button-bg-pressed);
   margin-bottom: var(--small-padding);
}

.indent-block {
   display: block;
   padding: 0;
   margin: 0;
   margin-left: var(--padding-2);
}

.flush-block {
   display: block;
   padding: 0;
   margin: 0;
}