html, body {
   margin: 0;
   height: 100%;
}

body {
   display: flex;
   flex-direction: row;
}

#viewport {
   width: 75vw;
   height: 100%;
   display: block;
}

#controls {
   width: 25vw;
   height: 100%;
   display: block;
}