:root {
   --global-bg-dark: #666;
   --global-bg: #aaa;
   --button-bg: #fff;
   --button-bg-hover: #ccc;
   --button-bg-pressed: #ddd;
   --button-bg-pressed-hover: #eee;

   --padding-1: 10px;
   --padding-2: 20px;
   --padding-4: 40px;
}

html, body {
   margin: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   object-fit: contain;
}

@font-face {
   font-family: "AzaFont";
   src: url("/Aza_font.woff");
}

h1 {
   display: flex;
   margin: 0;
   font-family:  AzaFont;
   font-size: larger;
   color: var(--global-bg-dark);
   justify-content: space-between;
   align-items: center;
   padding-left: var(--padding-2);
}

h1 > a {
   margin: 0;
   border-left: #777 solid 1px;
   padding: var(--padding-2);
   text-decoration: none;
   color: var(--global-bg-dark);
   background-color: var(--button-bg-pressed);
}

h1 > a:hover {
   color: black;
   background-color: var(--button-bg-hover);
}

main {
   display: flex;
   flex-direction: row;
   height: 100%;
}

#viewport {
   width: 75vw;
   height: 100%;
   display: block;
}

#controls {
   width: 25vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--global-bg);
}

#controls > form {
   display: flex;
   flex-direction: column;
   padding: var(--padding-1) var(--padding-1) 0px var(--padding-1);
}

#controls > form > input {
   margin-bottom: var(--padding-1);
}

#controls > form > input[type="file"] {
   background-color: var(--button-bg);
}

.json-file-field {
   background-color: var(--button-bg);
   margin-bottom: var(--padding-1);
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
}

.json-file-field > input[type="file"]::file-selector-button {
   border-radius: 0;
   border: none;
   border-right: var(--global-bg) var(--padding-1) solid;
   padding: var(--padding-1);
   background-color: var(--button-bg);
   margin-right: var(--padding-1);
   border-right: var(--global-bg) solid 1px;
}

.json-file-field > input {
   border-radius: 0;
   border: none;
   background-color: var(--button-bg);
}

.json-file-field > button {
   padding: var(--padding-1);
   width: var(--padding-4);
   height: var(--padding-4);
   border-radius: 0;
   border: none;
   background-color: var(--button-bg);
   border-left: var(--global-bg) solid 1px;
   font-size: large;
   padding-top: 6px;
}

.json-file-field > button:hover {
   background-color: var(--button-bg-hover);
}

.json-file-field > button:active {
   background-color: var(--button-bg-pressed);
}

.select-field-container {
   background-color: var(--button-bg);
   margin-bottom: var(--padding-1);
   display: flex;  
   align-items: center;
   padding-left: var(--padding-1);
}

.select-field-input {
   background-color: var(--button-bg);
   border-radius: 0;
   border: none;
   padding: var(--padding-1);
   flex-grow: 1;
   margin-left: var(--padding-2);
   border-left: var(--global-bg) solid 1px;
}

#controls > form > input[type="number"]
{
   border-radius: 0;
   border: none;
   padding: var(--padding-1);
   background-color: var(--button-bg);
   margin-bottom: var(--padding-1);
}

.select-field-input:hover,
#controls > form > input[type="number"]:hover,
#controls > form > input[type="file"]::file-selector-button:hover
{
   background-color: var(--button-bg-hover);
}

#json_display {
   height: 100%;
   overflow-y: scroll;
   margin: var(--padding-1);
   padding: var(--padding-1);
   white-space: pre-wrap;
   background-color: var(--button-bg);
}

#json_display_title {
   margin: 0;
   margin-top: var(--padding-2);
   padding-left: var(--padding-1);
   padding-right: var(--padding-1);
   padding-top: var(--padding-1);
   border-top: #777 solid 2px;
}

.checkbox-div {
   display: block;
   position: relative;
   cursor: pointer;
   overflow-x: hidden;
   margin-bottom: var(--padding-1);
}

.checkbox-div > input[type="checkbox"] {
   position: absolute;
   cursor: pointer;
   opacity: 0;
   height: 0;
   width: 0;
}

.checkbox-faker {
   display: block;
   width: 100%;
   padding: var(--padding-1);
   background-color: var(--button-bg);
}

.checkbox-div > input[type="checkbox"]:hover ~ .checkbox-faker {  
   background-color: var(--button-bg-hover);
}

.checkbox-div > input[type="checkbox"]:checked ~ .checkbox-faker {  
   background-color: var(--button-bg-pressed);
}

.checkbox-div > input[type="checkbox"]:checked:hover ~ .checkbox-faker {  
   background-color: var(--button-bg-pressed-hover);
}

.number-field {
   margin: 0;
   background-color: var(--button-bg);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-left: var(--padding-1);
}

.number-field > div {
   height: 100%;
}

.number-field > div > button {
   padding: var(--padding-1);
   width: var(--padding-4);
   border-radius: 0;
   border: none;
   background-color: var(--button-bg);
   border-left: var(--global-bg) solid 1px;
}

.number-field > div > button:hover {
   background-color: var(--button-bg-hover);
}

.number-field > div > button:active {
   background-color: var(--button-bg-pressed);
}

.number-field > div > input[type="number"] {
   padding: var(--padding-1);
   border-radius: 0;
   border: none;
   width: 50px;
   border-left: var(--global-bg) solid 1px;
   -moz-appearance: textfield; 
}

.number-field > div > input[type="number"]:hover {
   background-color: var(--button-bg-hover);
}

.number-field > div > input[type="number"]:focus-visible {
   outline: none;
   background-color: var(--button-bg-pressed);
}

.number-field > div > input[type=number]::-webkit-inner-spin-button,
.number-field > div > input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}