html, body {
   margin: 0;
   height: 100%;
}

@font-face {
   font-family: "AzaFont";
   src: url("../public/Aza_font.woff");
}

body {
   display: flex;
   flex-direction: row;
}

#viewport {
   width: 75vw;
   height: 100%;
   display: block;
}

#controls {
   width: 25vw;
   height: 100%;
   display: flex;
   flex-direction: column;
}

#json_display {
   height: 100%;
   overflow-y: scroll;
   margin: 10px;
   padding: 10px;
   white-space: pre-wrap;
   background-color: #aaa;
}