:root {
   --global-bg: #aaa;
   --button-bg: #fff;
   --button-bg-hover: #ccc;
   --button-bg-pressed: #ddd;
   --button-bg-pressed-hover: #eee;
}

html, body {
   margin: 0;
   height: 100%;
}

@font-face {
   font-family: "AzaFont";
   src: url("/Aza_font.woff");
}

body {
   display: flex;
   flex-direction: row;
}

#viewport {
   width: 75vw;
   height: 100%;
   display: block;
}

#controls {
   width: 25vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--global-bg);
}

#controls > form {
   display: flex;
   flex-direction: column;
   padding: 10px 10px 0px 10px;
}

#controls > form > input {
   margin-bottom: 10px;
}

#controls > form > input[type="file"] {
   background-color: var(--button-bg-hover);
}

#controls > form > input[type="file"]::file-selector-button {
   border-radius: 0;
   border: none;
   border-right: var(--global-bg) 10px solid;
   padding: 10px;
   background-color: var(--button-bg);
   margin-right: 20px;
}

#controls > form > select,
#controls > form > input[type="number"]
{
   border-radius: 0;
   border: none;
   padding: 10px;
   background-color: var(--button-bg);
   margin-bottom: 10px;
}

#controls > form > select:hover,
#controls > form > input[type="number"]:hover,
#controls > form > input[type="file"]::file-selector-button:hover
{
   background-color: var(--button-bg-hover);
}

#json_display {
   height: 100%;
   overflow-y: scroll;
   margin: 10px;
   padding: 10px;
   white-space: pre-wrap;
   background-color: var(--button-bg);
}

#json_display_title {
   margin: 0;
   margin-top: 20px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   border-top: #777 solid 2px;
}

.checkbox-div {
   display: block;
   position: relative;
   cursor: pointer;
   overflow-x: hidden;
   margin-bottom: 10px;
}

.checkbox-div > input[type="checkbox"] {
   position: absolute;
   cursor: pointer;
   opacity: 0;
   height: 0;
   width: 0;
}

.checkbox-faker {
   display: block;
   width: 100%;
   padding: 10px;
   background-color: var(--button-bg);
}

.checkbox-div > input[type="checkbox"]:hover ~ .checkbox-faker {  
   background-color: var(--button-bg-hover);
}

.checkbox-div > input[type="checkbox"]:checked ~ .checkbox-faker {  
   background-color: var(--button-bg-pressed);
}

.checkbox-div > input[type="checkbox"]:checked:hover ~ .checkbox-faker {  
   background-color: var(--button-bg-pressed-hover);
}

.number-field {
   margin: 0;
   background-color: var(--button-bg);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
}

.number-field > div {
   height: 100%;
}

.number-field > div > button {
   padding: 10px;
   width: 40px;
   border-radius: 0;
   border: none;
   background-color: var(--button-bg);
   border-left: var(--global-bg) solid 1px;
}

.number-field > div > button:hover {
   background-color: var(--button-bg-hover);
}

.number-field > div > button:active {
   background-color: var(--button-bg-pressed);
}

.number-field > div > input[type="number"] {
   padding: 10px;
   border-radius: 0;
   border: none;
   width: 50px;
   border-left: var(--global-bg) solid 1px;
   -moz-appearance: textfield; 
}

.number-field > div > input[type="number"]:hover {
   background-color: var(--button-bg-hover);
}

.number-field > div > input[type="number"]:focus-visible {
   outline: none;
   background-color: var(--button-bg-pressed);
}

.number-field > div > input[type=number]::-webkit-inner-spin-button,
.number-field > div > input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}