:root {
   --global-bg-dark: #666;
   --global-bg: #aaa;
   --button-bg: #fff;
   --button-bg-hover: #ccc;
   --button-bg-pressed: #ddd;
   --button-bg-pressed-hover: #eee;

   --padding-1: 10px;
   --padding-2: 20px;
   --padding-4: 40px;

   --button-height: 5vh;
   --header-height: 7.5vh;
}

html, body {
   margin: 0;
   height: 100%;
}

@font-face {
   font-family: "AzaFont";
   src: url("/Aza_font.woff");
}

h1 {
   display: flex;
   margin: 0;
   font-family:  AzaFont;
   font-size: larger;
   color: var(--global-bg-dark);
   justify-content: space-between;
   align-items: center;
   padding-left: var(--padding-2);
   height: var(--header-height);
}

h1 > a {
   margin: 0;
   border-left: #777 solid 1px;
   text-decoration: none;
   color: var(--global-bg-dark);
   background-color: var(--button-bg-pressed);
   height: 100%;
   align-content: center;
   padding: 0 var(--padding-2);
}

h1 > a:hover {
   color: black;
   background-color: var(--button-bg-hover);
}

main {
   display: flex;
   flex-direction: row;
   height: calc(100% - var(--header-height));
}

#viewport {
   display: inline-block;
   width: 75vw;
   height: 100%;
}

#controls {
   width: 25vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--global-bg);
}

#controls > form {
   display: flex;
   flex-direction: column;
   padding: var(--padding-1) var(--padding-1) 0px var(--padding-1);
}

#controls > form > input {
   margin-bottom: var(--padding-1);
}

.json-field {
   background-color: var(--button-bg);
   display: flex;
   align-items: center;
   flex-direction: row;
}

.json-input {
   height: 100%;
   flex:1;
   border-right: var(--global-bg) solid 1px;
}

.json-input::file-selector-button {
   height: 100%;
   width: 25%;
   border-radius: 0;
   border: none;
   cursor: pointer;
   border-right: var(--global-bg) var(--padding-1) solid;
   padding: var(--padding-1);
   background-color: var(--button-bg);
   margin-right: var(--padding-1);
   border-right: var(--global-bg) solid 1px;
}

.json-reload-button
{
   padding: var(--padding-1);
   width: var(--button-height);
   height: 100%;
   border-radius: 0;
   border: none;
   background-color: var(--button-bg);
   font-size: large;
   padding-top: 6px;
   cursor: pointer;
}

.field {
   height: var(--button-height);
   background-color: var(--button-bg);
   margin-bottom: var(--padding-1);
}

.select-field {
   display: flex;  
   align-items: center;
   justify-content: space-between;
}

.select-field-input {
   height: 100%;
   width: 100%;
   border-radius: 0;
   border: none;
   cursor: pointer;
   padding: var(--padding-1);
   flex-grow: 1;
   border-left: var(--global-bg) solid 1px;
   background-color: var(--button-bg);
}

.select-field-title {
   height: 100%;
   width: 100%;
   padding-left: var(--padding-1);
   align-content: center;
}

.json-reload-button:hover,
.select-field-input:hover,
.number-field > div > button:hover ,
.json-input::file-selector-button:hover,
.number-field > div > input[type="number"]:hover,
.checkbox-field > input[type="checkbox"]:hover ~ .checkbox-faker
{
   background-color: var(--button-bg-hover);
}

.json-reload-button:active,
.select-field-input:active,
.number-field > div > button:active,
.json-input::file-selector-button:active,
.checkbox-field > input[type="checkbox"]:checked ~ .checkbox-faker,
.checkbox-field > input[type="checkbox"]:active ~ .checkbox-faker 
{
   background-color: var(--button-bg-pressed);
}

.json-reload-button:active:hover,
.select-field-input:active:hover,
.number-field > div > button:active:hover
.json-input::file-selector-button:active:hover,
.checkbox-field > input[type="checkbox"]:checked:hover ~ .checkbox-faker 
{
   background-color: var(--button-bg-pressed-hover);
}

#json_display {
   height: 100%;
   overflow-y: scroll;
   margin: var(--padding-1);
   padding: var(--padding-1);
   white-space: pre-wrap;
   background-color: var(--button-bg);
}

#json_display_title {
   margin: 0;
   margin-top: var(--padding-2);
   padding-left: var(--padding-1);
   padding-right: var(--padding-1);
   padding-top: var(--padding-1);
   border-top: #777 solid 2px;
}

.checkbox-field {
   display: block;
   position: relative;
   cursor: pointer;
   overflow-x: hidden;
}

.checkbox-field > input[type="checkbox"] {
   position: absolute;
   cursor: pointer;
   opacity: 0;
   height: 100%;
   width: 100%;
   margin: 0;
}

.checkbox-faker {
   display: block;
   height: 100%;
   width: 100%;
   padding-left: var(--padding-1);
   background-color: var(--button-bg);
   align-content: center;
}

.number-field {
   margin: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.number-field > div {
   display: flex;
   justify-content: stretch;
   height: 100%;
   width: 50%;
}

.number-field > label {
   flex-grow: 1;
   padding-left: var(--padding-1);
}

.number-field > div > button {
   min-width: var(--button-height);
   border-radius: 0;
   border: none;
   cursor: pointer;
   background-color: var(--button-bg);
   border-left: var(--global-bg) solid 1px;
}

.number-field > div > input[type="number"] {
   /* I know this is slower, but it's the easiest way */
   min-width: calc(var(--padding-2) - calc(100% - calc(var(--button-height) * 2)));
   padding: var(--padding-1);
   border-radius: 0;
   border: none;
   cursor: pointer;
   border-left: var(--global-bg) solid 1px;
   -moz-appearance: textfield; 
}

.number-field > div > input[type="number"]:focus-visible {
   outline: none;
   background-color: var(--button-bg-pressed);
}

.number-field > div > input[type=number]::-webkit-inner-spin-button,
.number-field > div > input[type=number]::-webkit-outer-spin-button
{
   -webkit-appearance: none;
   margin: 0;
}

.pattern-str {
   margin: 0;
   font-style: normal;
   background-color: var(--button-bg);
   display: block;
}

.pattern-str.selected {
   background-color: var(--button-bg-pressed);
}